body {
  background-color: #f0f0f0 !important;
  height: 100%;
}

#general {
  background-color: white;
  margin-top: 7%;
  border-radius: 5px;
  padding-bottom: 4%;
  margin-left: 10%;
}

#completar {
  background-color: white;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px;
  align-self: center;
  border: 1px solid grey;
}

.button {
  display: inline-block;
}

#cancelar {
  background-color: whitesmoke;
  border-color: black;
  color: black;
}

#cargarUsuario {
  background-color: #4acb9c;
  border-color: #4acb9c;
}

#guardar {
  background-color: #4acb9c;
  border-color: #4acb9c;
}
#datos {
  padding: 5% 5%;
}

section {
  margin-right: 4%;
  display: inline;
}

#delete,
#edit {
  background-color: white;
}

#delete {
  color: red;
}

.modal {
  margin-left: 30%;
}

table {
  margin-top: 10%;
}

/* .dataTables-paginate paging_simple_nnumbers {
  width: 100%;
  text-align: center;
} */

/* td.dataTables_empty {
  visibility: hidden;
  display: none;
} */
